<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FriendsList</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='index.css') }}"/>
</head>
<body>

    <div class="friends_list">

        <h1>{{value[1]}}</h1>
        <a>
            <img src={{value[3]}} width="150" height="150">
        </a>
        <h1>has {{value[2]}} friends</h1>

        <p> Here are some of them:</p>
        <p><a href={{value[0][0]['url']}}> {{value[0][0]['name']}}</a></p>
        <p><a href={{value[0][1]['url']}}> {{value[0][1]['name']}}</a></p>
        <p><a href={{value[0][2]['url']}}> {{value[0][2]['name']}}</a></p>
        <p><a href={{value[0][3]['url']}}> {{value[0][3]['name']}}</a></p>
        <p><a href={{value[0][4]['url']}}> {{value[0][4]['name']}}</a></p>
        <form action="{{ url_for('handle_name') }}" method="post">
            <input type="text" name="projectFilepath">
            <input type="submit">
        </form>

    </div>
    <a href="/logout">Logout</a>
</body>
</html>